/* CSS declarations go here */
body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #333333;
	margin: 0px;
	height: 100vh;

	display: flex;
	flex-direction: column;
	flex-flow: column;
	align-items: stretch;
}
h1 {
	padding-left: 5%;
	color: white;
	margin-bottom: 0px;
}
h2 {
	background-color: #aaaaaa;
	color: white;
	height: 60px;
	line-height: 60px;
	padding-left: 5%;
}
.textfield {
	font-size: 1.5em;
}
.button {
	min-height: 2em;
	min-width: 10em;
}
.content {
	padding: 20px;
	padding-left: 5%;
	padding-right: 5%;
	color: #333333;
	background-color: #eeeeee;
	text-align: center;
	flex: 1 1 auto;

	display: flex;
	flex-direction: column;
	flex-flow: column;
	align-items: stretch;
}
#chat {
	text-align: left;
}
#chatmessage {
	flex: 0 1 auto;
	align-self: flex-end;
	width: 100%;
}
#messages {
	background-color: white;
	overflow-y: scroll;
	flex: 1 1 auto;
}